*.DS_Store
*.jar
*.log
.DS_Store
.clj-kondo/.cache
.cljs_node_repl
.cpcache
.dir-locals.el
.lein-env
.lein-failures
.lein-repl-history
.lsp
.nrepl*
.shadow-cljs
frontend-target
node_modules
out
output
pom.xml*
styles.css
target
tmp
