*.DS_Store
*.class
*.db
*.jar
*.log
*.swp
*~
.DS_Store
.calva/output-window/
.classpath
.clj-kondo/.cache
.cljs_node_repl
.cpcache
.dir-locals.el
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.settings
.shadow-cljs
.socket-repl-port
.sw*
.vscode
/checkouts
/classes
/target
frontend-target
node_modules
out
output
pom.xml*
styles.css
